<ion-header>
  <ion-toolbar>
    <ion-title>{{"AUTH.SIGNUP" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signupForm" class="mx-auto p-5 max-w-md" (ngSubmit)="signup()" novalidate>
    <ion-card class="p-5">
      <div class="my-3">
        <ion-item>
          <ion-label position="floating">{{"AUTH.NAME" | translate}}</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <span
          class="text-xs leading-5 text-rose-600 px-4"
          *ngIf="signupForm.get('name')?.hasError('required') 
          && signupForm.get('name')?.touched">
          {{"AUTH.NAME_REQUIRED" | translate}}
        </span>
        <span
          class="text-xs leading-5 text-rose-600 px-4"
          *ngIf="signupForm.get('name')?.hasError('minlength') 
          && signupForm.get('name')?.touched">
          {{"AUTH.NAME_MIN_LENGTH" | translate}}
        </span>
      </div>

      <div class="my-3 lg:my-5">
        <ion-item>
          <ion-label position="floating">{{"AUTH.EMAIL" | translate}}</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <span
          class="text-xs leading-5 text-rose-600 px-4"
          *ngIf="signupForm.get('email')?.hasError('required') 
          && signupForm.get('email')?.touched">
          {{"AUTH.EMAIL_REQUIRED" | translate}}
        </span>
        <span
          class="text-xs leading-5 text-rose-600 px-4"
          *ngIf="signupForm.get('email')?.hasError('email') 
          && signupForm.get('email')?.touched">
          {{"AUTH.PROVIDE_VALID_EMAIL" | translate}}
        </span>
      </div>

      <div class="my-3 lg:my-5">
        <ion-item>
          <ion-label position="floating">{{"AUTH.PASSWORD" | translate}}</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <span
          class="text-xs leading-5 text-rose-600 px-4"
          *ngIf="signupForm.get('password')?.hasError('required')
          && signupForm.get('password')?.touched">
          {{"AUTH.PASSWORD_REQUIRED" | translate}}
        </span>
        <span
          class="text-xs leading-5 text-rose-600 px-4"
          *ngIf="signupForm.get('password')?.hasError('minlength')
          && signupForm.get('password')?.touched">
          {{"AUTH.PASSWORD_MIN_LENGTH" | translate}}
        </span>
      </div>

      <div class="my-3 lg:my-5">
        <ion-item>
          <ion-label position="floating">{{"AUTH.CONFIRM_PASSWORD" | translate}}</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <span
          class="text-xs leading-5 text-rose-600 px-4"
          *ngIf="signupForm.get('confirmPassword')?.hasError('required') 
          && signupForm.get('confirmPassword')?.touched">
          {{"AUTH.CONFIRM_PASSWORD_REQUIRED" | translate}}
        </span>
        <span
          class="text-xs leading-5 text-rose-600 px-4"
          *ngIf="!signupForm.get('confirmPassword')?.hasError('required')
          && signupForm.get('password')?.value !== signupForm.get('confirmPassword')?.value 
          && signupForm.get('confirmPassword')?.touched">
          {{"AUTH.PASSWORDS_NOT_MATCH" | translate}}
        </span>
      </div>

      <div class="my-3 lg:my-5">
        <ion-item>
          <ion-label position="default">{{"AUTH.SPOKEN_LANGUAGES" | translate}}</ion-label>
          <ion-select [placeholder]="('AUTH.CHOOSE' | translate)+'...'" [multiple]="true" formControlName="languages">
            <ion-select-option *ngFor="let language of languages" [value]="language.code">
              {{ "LANGUAGES." + language.code | translate }} {{ language.flag }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <span
          class="text-xs leading-5 text-rose-600 px-4"
          *ngIf="signupForm.get('languages')?.hasError('required') && signupForm.get('languages')?.touched">
          {{"AUTH.LANGUAGE_REQUIRED" | translate}}
        </span>
      </div>

      <ion-button
        class="my-8"
        expand="block"
        fill="solid"
        color="primary"
        shape="round"
        type="submit"
        [disabled]="signupForm.invalid">
        {{"AUTH.CREATE_ACCOUNT" | translate}}
      </ion-button>
    </ion-card>

    <ion-button
      class="my-8"
      expand="block"
      fill="solid"
      color="secondary"
      shape="round"
      routerLink="/login"
      routerDirection="root">
      {{"AUTH.ALREADY_HAVE_ACCOUNT" | translate}}
    </ion-button>
  </form>
</ion-content>
