<ion-content>
  <ion-grid>
    <ion-row wrap class="justify-content-center">
      <ion-col size="12" size-md="6" size-xl="4" *ngFor="let ride of rides">
        <app-ride-card [ride]="ride" [userId]="userId" [chosenCurrency]="chosenCurrency"></app-ride-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
