<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"MENU.RIDES" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reloadRides()">
        <ion-icon name="reload-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment color="primary" [(ngModel)]="segment" (ionChange)="reloadRides()">
    <ion-segment-button value="booked">
      <ion-label>{{"BROWSE_RIDES.BOOKED_RIDES" | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="offered">
      <ion-label>{{"BROWSE_RIDES.OFFERED_RIDES" | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="{rides: rides$ | async, user: user$ | async, chosenCurrency: chosenCurrency$ | async} as data">
    <app-ride-list
      [rides]="data.rides!"
      [userId]="data.user?.id!"
      [chosenCurrency]="data.chosenCurrency!"></app-ride-list>
  </ng-container>

  <ion-fab *ngIf="segment === 'offered'" vertical="bottom" horizontal="end" slot="fixed" class="m-3 lg:m-5">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="Add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
