<ion-item>
  <ion-avatar slot="start">
    <img src="assets/images/avatar.svg" />
  </ion-avatar>
  <ion-label>
    <h2>{{ person.name }}</h2>
    <p>{{ person.email }}</p>
  </ion-label>
  <ng-container *ngIf="person.id !== currentUser?.id">
    <ion-icon
      *ngIf="
        !acceptedFriendIds.includes(person.id!) &&
        !requestedFriendIds.includes(person.id!) &&
        !pendingFriendIds.includes(person.id!)
      "
      class="cursor-pointer"
      slot="end"
      name="person-add-outline"
      color="primary"
      (click)="sendRequest(person.id!)"></ion-icon>
    <ion-icon
      *ngIf="requestedFriendIds.includes(person.id!)"
      class="cursor-pointer"
      slot="end"
      name="person-remove-outline"
      color="danger"
      (click)="removeInvitation(person.id!)"></ion-icon>
    <ion-icon
      *ngIf="acceptedFriendIds.includes(person.id!)"
      class="cursor-pointer"
      slot="end"
      name="checkmark-done-circle-outline"
      color="tertiary"
      (click)="removeFriendship(person.id!)"></ion-icon>
    <ng-container *ngIf="pendingFriendIds.includes(person.id!)">
      <ion-icon
        class="cursor-pointer"
        slot="end"
        name="checkmark-circle-outline"
        color="primary"
        (click)="acceptRequest(person.id!)"></ion-icon>
      <ion-icon
        class="cursor-pointer"
        slot="end"
        name="close-circle-outline"
        color="danger"
        (click)="declineRequest(person.id!)"></ion-icon>
    </ng-container>
    <ion-icon
      class="cursor-pointer"
      slot="end"
      name="person-circle-outline"
      (click)="openProfile(person.id!)"></ion-icon>
    <ion-icon
      class="cursor-pointer"
      slot="end"
      name="chatbubble-outline"
      (click)="openConversation(person.id!)"></ion-icon>
  </ng-container>
</ion-item>
