<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'MENU.PROFILE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="loadedUser$ | async as loadedUser">
  <div class="flex flex-col justify-items-center items-center mt-5 mb-10">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="assets/images/avatar.svg" />
    </ion-avatar>
    <h1 class="text-2xl font-bold">{{ loadedUser.name }}</h1>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'PROFILE.PERSONAL_INFORMATION' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>{{ 'PROFILE.EMAIL' | translate }}:</ion-label>
          <p>{{loadedUser.email}}</p>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'PROFILE.ID' | translate }}:</ion-label>
          <p>{{loadedUser.id}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="userLanguages$ | async as userLanguages">
    <ion-card *ngIf="userLanguages.length">
      <ion-card-header>
        <ion-card-title>{{ 'PROFILE.LANGUAGES' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let language of userLanguages">
            {{ 'LANGUAGES.' + language | translate }} {{ flagsMap[language] }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-card *ngIf="loadedUser.reviews?.length">
    <ion-card-header>
      <ion-card-title>
        {{ 'PROFILE.REVIEWS' | translate }} ( {{ averageRating$ | async }}
        <ion-icon color="primary" name="star" class="pl-0.5"></ion-icon> )
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let review of loadedUser.reviews" class="p-3">
          <div class="flex flex-col items-center justify-items-center mr-5">
            <ion-avatar>
              <img src="assets/images/avatar.svg" />
            </ion-avatar>
            <span class="whitespace-nowrap">{{review.author?.name}}</span>
          </div>
          <div>
            <div>
              <ion-icon
                *ngFor="let i of [].constructor(review.rating).fill(0)"
                color="primary"
                name="star"
                class="pl-0.5"></ion-icon>
              <ion-icon
                *ngFor="let i of [].constructor(5 - review.rating).fill(0)"
                name="star"
                class="pl-0.5"></ion-icon>
            </div>
            <p>{{review.content}}</p>
            <ion-note>{{review.date | date}}</ion-note>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="currentUser$ | async as currentUser">
    <ion-card *ngIf="currentUser.id !== loadedUser.id">
      <ion-card-header>
        <ion-card-title>{{ 'PROFILE.LEAVE_REVIEW' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
          <ion-item>
            <ion-label>{{ 'PROFILE.RATING' | translate }}:</ion-label>
            <ion-range
              min="1"
              max="5"
              snaps="true"
              step="1"
              color="primary"
              pin="true"
              value="3"
              formControlName="rating"></ion-range>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'PROFILE.COMMENT' | translate }}:</ion-label>
            <ion-textarea
              [placeholder]="('PROFILE.TYPE_SOMETHING' | translate)+'...'"
              autoGrow="true"
              inputmode="text"
              spellcheck="true"
              wrap="soft"
              formControlName="content"></ion-textarea>
            <ion-note *ngIf="reviewForm.get('content')?.touched" slot="error">
              {{ 'PROFILE.PLEASE_ENTER_COMMENT' | translate }}
            </ion-note>
          </ion-item>
          <ion-button expand="block" color="primary" type="submit" [disabled]="reviewForm.invalid" class="m-5">
            {{ 'PROFILE.SUBMIT_REVIEW' | translate }}
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
