<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "FRIENDS.FIND_USER" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
    inputmode="text"
    placeholder="Search for people"
    [formControl]="searchField"
    (ionChange)="searchUsers($event)"
    debounce="300"></ion-searchbar>

  <div *ngIf="this.searchField.value">
    <ng-container
      *ngIf="{ 
        currentUser: currentUser$ | async,
        users: users$ | async, 
        acceptedFriendIds: acceptedFriendIds$ | async,
        pendingFriendIds: pendingFriendIds$ | async,
        requestedFriendIds: requestedFriendIds$ | async
      } as data">
      <div *ngIf="data.users?.length">
        <ion-list>
          <app-friend-tile
            *ngFor="let person of data.users"
            [person]="person"
            [currentUser]="data.currentUser ?? null"
            [acceptedFriendIds]="data.acceptedFriendIds ?? []"
            [pendingFriendIds]="data.pendingFriendIds ?? []"
            [requestedFriendIds]="data.requestedFriendIds ?? []"></app-friend-tile>
        </ion-list>
      </div>
      <div *ngIf="!data.users?.length">
        <p class="m-20 text-center">{{ "FRIENDS.NO_FOUND_PERSON" | translate }}</p>
      </div>
    </ng-container>
  </div>

  <div *ngIf="!this.searchField.value">
    <p class="m-20 text-center">{{ "FRIENDS.NOT_TYPED_YET" | translate }}</p>
  </div>
</ion-content>
