<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "BROWSE_RIDES.RIDE_DETAILS" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="ride$ | async as ride" class="ion-padding">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>{{ "BROWSE_RIDES.OWNER" | translate }}</ion-label>
    </ion-item-divider>
    <ion-item>{{ride.owner?.name}} ({{ride.owner?.email}})</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>{{ "BROWSE_RIDES.STOP_LOCATIONS" | translate }}</ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item *ngFor="let stop of ride.stopLocations"> {{stop}} </ion-item>
    </ion-list>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>{{ "BROWSE_RIDES.DEPARTURE_TIME" | translate }}</ion-label>
    </ion-item-divider>
    <ion-item> {{ride.date | date:'yyyy-MM-dd HH:mm:ss z'}} </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>{{ "BROWSE_RIDES.PRICE_PER_SEAT" | translate }}</ion-label>
    </ion-item-divider>
    <ion-item *ngIf="chosenCurrency$ | async as chosenCurrency">
      {{ride.pricePerSeat}} {{ride.currencyBaseCode}}
      <span *ngIf="chosenCurrency.baseCode !== ride.currencyBaseCode" class="text-sky-500 mx-3">
        ≈ {{ (ride.pricePerSeat / chosenCurrency.rates[ride.currencyBaseCode]).toFixed(2) }} {{chosenCurrency.baseCode}}
      </span>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>{{ "BROWSE_RIDES.AVAILABLE_SEATS" | translate }}</ion-label>
    </ion-item-divider>
    <ion-item [class.full]="ride.passengerIds.length === ride.numberOfSeats">
      {{ride.numberOfSeats - ride.passengerIds.length}} / {{ride.numberOfSeats}}
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>{{ "BROWSE_RIDES.OWNER_LANGUAGES" | translate }}</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let language of ownerLanguages$ | async"
      >{{ 'LANGUAGES.' + language | translate }} {{ flagsMap[language] }}</ion-item
    >
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>{{ "BROWSE_RIDES.EXTRAS" | translate }}</ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item *ngFor="let extra of ride.extras | keyvalue">
        {{"EXTRAS." + extra.key | translate}}
        <ion-icon name="checkmark" color="primary" class="px-1"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>{{ "BROWSE_RIDES.RIDE_VISIBILITY" | translate }}</ion-label>
    </ion-item-divider>
    <ion-item>
      <span *ngIf="ride.isPrivate">
        {{ "BROWSE_RIDES.PRIVATE" | translate }}
        <ion-icon name="lock-closed-outline" color="danger"></ion-icon>
      </span>
      <span *ngIf="!ride.isPrivate">
        {{ "BROWSE_RIDES.PUBLIC" | translate }}
        <ion-icon name="lock-open-outline" color="primary"></ion-icon>
      </span>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="ride.passengers">
    <ion-item-divider>
      <ion-label>{{ "BROWSE_RIDES.PASSENGERS" | translate }}</ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item *ngFor="let passenger of ride.passengers"> {{passenger.name}} ({{passenger.email}}) </ion-item>
    </ion-list>
  </ion-item-group>

  <div *ngIf="currentUser$ | async as currentUser" class="my-5">
    <ion-button *ngIf="ride.ownerId === currentUser.id" expand="block" (click)="deleteRide()" color="danger">
      {{ "BROWSE_RIDES.DELETE_RIDE" | translate }}
    </ion-button>
    <ng-container *ngIf="ride.ownerId !== currentUser.id">
      <ion-button
        *ngIf="!ride.passengerIds?.includes(currentUser.id!) && ride.passengerIds.length < ride.numberOfSeats"
        expand="block"
        (click)="bookRide(currentUser.id!)">
        {{ "BROWSE_RIDES.BOOK_RIDE" | translate }}
      </ion-button>
      <ion-button
        *ngIf="ride.passengerIds?.includes(currentUser.id!)"
        expand="block"
        (click)="deleteBooking(currentUser.id!)">
        {{ "BROWSE_RIDES.REMOVE_BOOKING" | translate }}
      </ion-button>
    </ng-container>
  </div>
</ion-content>
