<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "MENU.FRIENDS" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment color="primary" [(ngModel)]="segment" (ionChange)="reloadFriends()">
    <ion-segment-button value="accepted">
      <ion-label>{{ "FRIENDS.ACCEPTED" | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pending">
      <ion-label>{{ "FRIENDS.PENDING" | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="requested">
      <ion-label>{{ "FRIENDS.REQUESTED" | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container
    *ngIf="{ 
        currentUser: currentUser$ | async,
        users: users$ | async, 
        acceptedFriendIds: acceptedFriendIds$ | async,
        pendingFriendIds: pendingFriendIds$ | async,
        requestedFriendIds: requestedFriendIds$ | async
      } as data">
    <div *ngIf="data.users?.length">
      <ion-list class="mt-5">
        <app-friend-tile
          *ngFor="let person of data.users"
          [person]="person"
          [currentUser]="data.currentUser ?? null"
          [acceptedFriendIds]="data.acceptedFriendIds ?? []"
          [pendingFriendIds]="data.pendingFriendIds ?? []"
          [requestedFriendIds]="data.requestedFriendIds ?? []"></app-friend-tile>
      </ion-list>
    </div>
    <div *ngIf="!data.users?.length">
      <p class="m-20 text-center">{{ "FRIENDS.NO_RECORDS" | translate }}</p>
    </div>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="m-3 lg:m-5">
    <ion-fab-button routerLink="find" routerDirection="forward">
      <ion-icon name="Add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
