<ion-card class="flex flex-col rounded-lg p-6 h-full">
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/images/avatar.svg" />
    </ion-avatar>
    <ion-label>
      <h3>
        {{ ride.owner?.name ?? 'RIDE_CARD.UNKNOWN_USER' | translate }}
        <span *ngFor="let lang of ownerLanguages" class="mx-0.5">{{ flagsMap[lang] }}</span>
      </h3>
      <p>{{ ride.date | date : 'yyyy-MM-dd H:mm' }}</p>
    </ion-label>
    <ion-icon class="cursor-pointer" slot="end" name="ellipsis-vertical" (click)="openActionSheet()"></ion-icon>
  </ion-item>
  <ion-card-header>
    <ion-card-title>{{ ride.stopLocations[0] + ' ➡ ' + ride.stopLocations[1] }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="text-neutral-300" [class.full]="ride.passengerIds.length === ride.numberOfSeats">
      {{ 'BROWSE_RIDES.AVAILABLE_SEATS' | translate }}: {{ ride.numberOfSeats - ride.passengerIds.length }} /
      {{ ride.numberOfSeats }}
    </p>
    <p class="text-neutral-300">
      {{ 'BROWSE_RIDES.PRICE_PER_SEAT' | translate }}: {{ ride.pricePerSeat }} {{ ride.currencyBaseCode }}
    </p>
    <p *ngIf="chosenCurrency.baseCode !== ride.currencyBaseCode" class="text-sky-500">
      ≈ {{ (ride.pricePerSeat / chosenCurrency.rates[ride.currencyBaseCode]).toFixed(2) }} {{ chosenCurrency.baseCode }}
    </p>
  </ion-card-content>
  <div class="flex-grow flex items-end justify-center">
    <ion-button class="text-white" shape="round" (click)="openRideDetails(ride)">
      <ion-icon slot="start" name="reader-outline"></ion-icon>
      {{ 'RIDE_CARD.DETAILS' | translate }}
    </ion-button>
  </div>
</ion-card>
