<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="justify-content-center">
      <ion-col size="12" size-md="6" class="my-10 md:m-auto">
        <div class="relative flex justify-center">
          <ion-img class="hidden md:block max-w-2xl" src="assets/icon/favicon.png"></ion-img>
          <ion-text class="relative md:absolute md:bottom-10 carpooler-title text-6xl lg:text-8xl">
            Carpooler
          </ion-text>
        </div>
      </ion-col>
      <ion-col size="12" size-md="6" class="m-auto">
        <form [formGroup]="loginForm" (ngSubmit)="loginWithEmail()" novalidate>
          <ion-card class="px-5">
            <div>
              <ion-item class="mt-5 lg:mt-10">
                <ion-icon slot="start" name="mail-outline"></ion-icon>
                <ion-label position="default">{{"AUTH.EMAIL" | translate}}:</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <span
                class="text-xs leading-5 text-rose-600 px-5"
                *ngIf="loginForm.get('email')?.hasError('required') 
                && loginForm.get('email')?.touched">
                {{"AUTH.EMAIL_REQUIRED" | translate}}
              </span>
              <span
                class="text-xs leading-5 text-rose-600 px-5"
                *ngIf="loginForm.get('email')?.hasError('email') 
                && loginForm.get('email')?.touched">
                {{"AUTH.PROVIDE_VALID_EMAIL" | translate}}
              </span>
            </div>

            <div>
              <ion-item class="mt-5 lg:mt-10">
                <ion-icon slot="start" name="key-outline"></ion-icon>
                <ion-label position="default">{{"AUTH.PASSWORD" | translate}}:</ion-label>
                <ion-input type="password" formControlName="password" [clearInput]="true"></ion-input>
              </ion-item>
              <span
                class="text-xs leading-5 text-rose-600 px-5"
                *ngIf="loginForm.get('password')?.hasError('required')
                && loginForm.get('password')?.touched">
                {{"AUTH.PASSWORD_REQUIRED" | translate}}
              </span>
            </div>
            <div class="flex justify-center">
              <ion-button
                class="w-full max-w-lg mt-10 lg:mt-10"
                expand="block"
                fill="solid"
                color="primary"
                shape="round"
                type="submit"
                [disabled]="loginForm.invalid"
                (click)="loginWithEmail()">
                <ion-icon slot="start" name="log-in-outline"></ion-icon>
                {{"AUTH.LOGIN" | translate}}
              </ion-button>
            </div>
            <div class="flex justify-center">
              <ion-button
                class="w-full max-w-lg mt-5 mb-10 lg:mt-10"
                expand="block"
                fill="solid"
                color="primary"
                shape="round"
                type="button"
                (click)="loginWithFacebook()">
                <ion-icon slot="start" name="logo-facebook"></ion-icon>
                {{"AUTH.FACEBOOK_LOGIN" | translate}}
              </ion-button>
            </div>
          </ion-card>

          <div class="flex justify-center">
            <p>{{"AUTH.NO_ACCOUNT_YET" | translate}}</p>
          </div>
          <div class="flex justify-center">
            <ion-button
              class="w-full max-w-lg mb-20 lg:mb-10"
              expand="block"
              fill="solid"
              color="secondary"
              shape="round"
              type="button"
              (click)="goToSignUp()">
              {{"AUTH.CREATE_ACCOUNT" | translate}}
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="bg-gray-500 p-4 fixed bottom-0 inset-x-0 w-full text-center">
    {{"AUTH.CREATED_BY" | translate}}: Viktor Volford
  </div>
</ion-content>
