<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'BROWSE_RIDES.CREATE_NEW_RIDE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="currentUser$ | async as currentUser">
  <form [formGroup]="rideForm" (ngSubmit)="submitForm(currentUser)">
    <ion-item>
      <ion-searchbar
        [placeholder]="'BROWSE_RIDES.FROM' | translate"
        inputmode="text"
        formControlName="departureFrom"
        (ionInput)="unsetDepartureFrom()"
        (ionChange)="logChange($event)"
        [color]="hasSelectedDepartureFrom ? 'light' : 'medium'">
      </ion-searchbar>
    </ion-item>
    <ion-list *ngIf="!hasSelectedDepartureFrom && rideForm.get('departureFrom')?.value !== ''">
      <ion-item *ngFor="let city of filteredCities | async" (click)="setDepartureFromValue(city)">
        {{ city }}
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-searchbar
        [placeholder]="'BROWSE_RIDES.TO' | translate"
        inputmode="text"
        formControlName="arrivalTo"
        (ionInput)="unsetArrivalTo()"
        (ionChange)="logChange($event)"
        [color]="hasSelectedArrivalTo ? 'light' : 'medium'">
      </ion-searchbar>
    </ion-item>
    <ion-list *ngIf="!hasSelectedArrivalTo && rideForm.get('arrivalTo')?.value !== ''">
      <ion-item *ngFor="let city of filteredCities | async" (click)="setArrivalToValue(city)">
        {{ city }}
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label position="default" class="ion-text-wrap">{{ 'BROWSE_RIDES.DEPARTURE_TIME' | translate }}: </ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datetime"
          formControlName="date"
          minuteValues="0,15,30,45"
          [min]="todayDate"
          [highlightedDates]="highlightedDates$ | async"
          mode="ios"
          showDefaultButtons="true"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-item>
      <ion-label position="default">{{ 'BROWSE_RIDES.NUMBER_OF_SEATS' | translate }}: </ion-label>
      <ion-input type="number" formControlName="numberOfSeats"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="default">{{ 'BROWSE_RIDES.PRICE_PER_SEAT' | translate }}: </ion-label>
      <ion-input type="number" formControlName="pricePerSeat"></ion-input>
      <ion-input
        type="text"
        formControlName="currencyBaseCode"
        [readonly]="true"
        class="px-3"
        [value]="chosenCurrencyBaseCode$ | async"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="default">{{ 'BROWSE_RIDES.EXTRAS' | translate }}:</ion-label>
      <ion-select
        [placeholder]="('BROWSE_RIDES.CHOOSE' | translate) + '...'"
        [multiple]="true"
        formControlName="extras">
        <ion-select-option *ngFor="let extra of extraServices" [value]="extra">
          {{ 'EXTRAS.' + extra | translate }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="default">{{ 'BROWSE_RIDES.PRIVATE_RIDE' | translate }}:</ion-label>
      <ion-checkbox slot="end" mode="ios" checked="false" formControlName="isPrivate"></ion-checkbox>
    </ion-item>

    <ion-button class="mt-5" expand="block" color="primary" shape="round" type="submit" [disabled]="rideForm.invalid">
      <ion-icon name="save" slot="start"></ion-icon>
    </ion-button>
  </form>
</ion-content>
