<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "MENU.CHATS" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let conversation of conversations$ | async">
      <ion-label>
        <h2>{{conversation.partnerName}}</h2>
        <ng-container *ngIf="conversation.lastMessage">
          <p>{{ "CHATS.LAST_MESSAGE" | translate }}: "{{conversation.lastMessage.content}}"</p>
          <p>{{ "CHATS.WHEN" | translate }}: {{conversation.lastMessage.date | date : 'yyyy-MM-dd H:mm'}}</p>
        </ng-container>
        <ng-container *ngIf="!conversation.lastMessage">
          <p>{{ "CHATS.NOT_TALKING_YET" | translate }}</p>
        </ng-container>
      </ion-label>
      <ion-button slot="end" size="default" (click)="openConversation(conversation)"
        >{{ "CHATS.OPEN" | translate }}</ion-button
      >
    </ion-item>
  </ion-list>
</ion-content>
