<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title class="carpooler-title text-2xl leading-10">Carpooler</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openLanguagePicker()" detail="false">
              <ion-icon slot="start" name="language-outline"></ion-icon>
              <ion-label>
                {{selectedLang}}
                <ion-icon name="caret-down-outline" size="default"></ion-icon>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false" *ngIf="currency$ | async as currency">
            <ion-item button (click)="openCurrencyPicker(currency.rates)" detail="false">
              <ion-icon slot="start" name="cash-outline"></ion-icon>
              <ion-label>
                {{currency.baseCode}}
                <ion-icon name="caret-down-outline" size="default"></ion-icon>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list lines="none">
          <ion-list-header>{{"MENU.CARPOOLING" | translate}}</ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of carpoolingPages">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label> {{"MENU."+p.title | translate}} </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list lines="none">
          <ion-list-header>{{"MENU.ACCOUNT" | translate}}</ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of accountPages">
            <ion-item
              *ngIf="p.title === 'PROFILE' && {currentUser: currentUser$ | async} as data"
              [routerLink]="p.url"
              routerLinkActive="selected"
              routerDirection="root"
              detail="false"
              [queryParams]="{id: data.currentUser?.id}">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label> {{"MENU.PROFILE" | translate}} </ion-label>
            </ion-item>
            <ion-item
              *ngIf="p.title !== 'PROFILE'"
              [routerLink]="p.url"
              routerLinkActive="selected"
              routerDirection="root"
              detail="false">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label> {{"MENU."+p.title | translate}} </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="signOut()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>{{"MENU.LOGOUT" | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"> </ion-router-outlet>
  </ion-split-pane>
</ion-app>
