<ng-container
  *ngIf="{
    conversation: conversation$ | async, 
    messages: messages$ | async, 
    currentUser: currentUser$ | async} as data">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        <span>{{data.conversation?.partnerName}}</span>
        <ion-icon name="chatbubble-outline" class="ml-3"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row *ngFor="let message of data.messages">
        <ion-col
          size="9"
          class="message"
          [offset]="message.userId === data.currentUser?.id ? 3 : 0"
          [ngClass]="{'sent': message.userId === data.currentUser?.id, 'received': message.userId !== data.currentUser?.id}">
          <b>{{message.userId === data.currentUser?.id ? data.currentUser?.name : data.conversation?.partnerName}}</b>
          <p>{{message.content}}</p>
          <div class="time ion-text-right">{{message.date | date : 'yyyy-MM-dd H:mm'}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <ion-textarea
            autoGrow="true"
            class="message-input"
            rows="1"
            maxlength="500"
            [placeholder]="('CHATS.TYPE_MESSAGE' | translate)+'...'"
            [(ngModel)]="newMsg"></ion-textarea>
        </ion-col>
        <ion-col size="2">
          <ion-button
            expand="block"
            fill="clear"
            color="primary"
            [disabled]="newMsg === ''"
            class="msg-btn"
            (click)="sendMessage()">
            <ion-icon name="send" slot="icon-only" size="large" size-md="default"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ng-container>
