.message-input {
  width: 100%;
  border: 1px solid var(--ion-color-step-300);
  border-radius: 10px;
  background: var(--ion-color-step-200);
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

.sent {
  background: var(--ion-color-primary);
  color: #fff;
}

.received {
  background: var(--ion-color-tertiary);
  color: #fff;
}

.time {
  color: #dfdfdf;
  font-size: small;
}
