<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"MENU.BROWSE" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleShowFilters()">
        <ion-icon *ngIf="!showFilters" name="search-outline" slot="icon-only" size="default"></ion-icon>
        <ion-icon *ngIf="showFilters" name="close-outline" slot="icon-only" size="default"></ion-icon>
      </ion-button>
      <ion-button (click)="reloadRides()">
        <ion-icon name="reload" slot="icon-only" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div id="search-dropdown" [class.show]="showFilters">
    <ion-toolbar *ngIf="{ hasSelected: hasSelectedDepartureFromSubject$ | async } as data">
      <ion-searchbar
        [placeholder]="'BROWSE_RIDES.FROM' | translate"
        inputmode="text"
        (ionInput)="unsetDepartureFrom()"
        (ionChange)="logChange($event)"
        [(ngModel)]="departureFrom"
        [color]="data.hasSelected ? 'light' : 'medium'"
        mode="ios"
        class="mt-5">
      </ion-searchbar>

      <ion-list *ngIf="!data.hasSelected && departureFrom !== ''">
        <ion-item *ngFor="let city of filteredCities$ | async" (click)="setDepartureFromValue(city)">
          {{ city }}
        </ion-item>
      </ion-list>
    </ion-toolbar>
    <ion-toolbar *ngIf="{ hasSelected: hasSelectedArrivalToSubject$ | async } as data">
      <ion-searchbar
        [placeholder]="'BROWSE_RIDES.TO' | translate"
        inputmode="text"
        (ionInput)="unsetArrivalTo()"
        (ionChange)="logChange($event)"
        [(ngModel)]="arrivalTo"
        [color]="data.hasSelected ? 'light' : 'medium'"
        mode="ios">
      </ion-searchbar>

      <ion-list *ngIf="!data.hasSelected && arrivalTo !== ''">
        <ion-item *ngFor="let city of filteredCities$ | async" (click)="setArrivalToValue(city)"> {{ city }} </ion-item>
      </ion-list>
    </ion-toolbar>

    <ion-toolbar *ngIf="{ languages: userLanguages$ | async } as data">
      <ion-row>
        <ion-col
          [size]="data.languages?.length ? 12 : 6"
          [sizeMd]="data.languages?.length ? 4 : 6"
          class="grid justify-items-center">
          <div class="flex items-center">
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-icon name="calendar-outline" size="default" class="ml-3"></ion-icon>
          </div>
        </ion-col>
        <ion-col [size]="6" [sizeMd]="data.languages?.length ? 4 : 6" class="grid justify-items-center">
          <div class="flex items-center">
            <span>{{'BROWSE_RIDES.PRIVATE_ONLY' | translate}}</span>
            <ion-toggle checked="false" mode="md" (ionChange)="onIsPrivateChange($event)"></ion-toggle>
          </div>
        </ion-col>
        <ion-col *ngIf="data.languages?.length" size="6" size-md="4" class="grid justify-items-center">
          <div class="flex items-center">
            <span>{{'BROWSE_RIDES.COMMON_LANGUAGE' | translate}}</span>
            <ion-toggle checked="true" mode="md" (ionChange)="onIsCommonLanguageChange($event)"></ion-toggle>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datetime"
          presentation="date"
          showDefaultButtons="true"
          [min]="todayDate"
          (ionChange)="onDateChange($event)"
          mode="ios"></ion-datetime>
      </ng-template>
    </ion-modal>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <ion-backdrop
    id="backdrop"
    [class.show]="showFilters"
    (ionBackdropTap)="toggleShowFilters()"
    class="bg-neutral-500 opacity-50"></ion-backdrop>
  <ng-container
    *ngIf="{
      rides: rides$ | async, 
      user: user$ | async, 
      request: request$ | async,
      chosenCurrency: chosenCurrency$ | async, 
      hasSelectedDepartureFrom: hasSelectedDepartureFromSubject$ | async, 
      hasSelectedArrivalTo: hasSelectedArrivalToSubject$ | async,
      selectedDay: selectedDaySubject$ | async} as data">
    <app-ride-list
      *ngIf="data.rides?.length"
      [rides]="data.rides!"
      [userId]="data.user?.id!"
      [chosenCurrency]="data.chosenCurrency!"></app-ride-list>
    <div *ngIf="!data.rides?.length" class="flex flex-col items-center">
      <p class="mt-10">{{ 'BROWSE_RIDES.NO_RECORDS' | translate }}</p>
      <p *ngIf="!data.hasSelectedDepartureFrom && !data.hasSelectedArrivalTo" class="mt-10">
        {{ 'BROWSE_RIDES.USE_SEARCH_FILTERS' | translate }}
      </p>
      <ng-container *ngIf="data.hasSelectedDepartureFrom && data.hasSelectedArrivalTo">
        <p class="mt-10 mb-3">{{ 'BROWSE_RIDES.LOOKING_FOR_RIDES' | translate }}</p>
        <ion-button
          *ngIf="!data.request || data.request!.users[data.user?.id!] !== true"
          expand="block"
          color="primary"
          shape="round"
          (click)="createRequest(departureFrom, arrivalTo, data.selectedDay!)">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          {{ 'BROWSE_RIDES.CREATE_RIDE_REQUEST' | translate | uppercase }}
        </ion-button>
        <ion-button
          *ngIf="data.request && data.request!.users[data.user?.id!] === true"
          expand="block"
          color="primary"
          shape="round"
          fill="outline"
          disabled="true">
          {{ 'BROWSE_RIDES.REQUEST_CREATED' | translate | uppercase }}
          <ion-icon name="checkmark-outline" slot="end" color="success"></ion-icon>
        </ion-button>
      </ng-container>
    </div>
  </ng-container>
</ion-content>
