ion-item {
  --background: trasnparent;
  --inner-border-width: 0;
}

#search-dropdown {
  position: absolute;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  transform: translateY(-40px);
  transition: 200ms ease-in-out;
}

#search-dropdown.show {
  overflow: visible;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 200ms ease-in-out;
  display: block;
}

#backdrop {
  opacity: 0;
  visibility: hidden;
  transition: 200ms ease-in-out;
}

#backdrop.show {
  opacity: 0.6;
  visibility: visible;
  transition: 200ms ease-in-out;
}
